* {
  margin: 0;
  padding: 0;
  font-family: "lato";
  font-size: 18px;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/hero.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
/* .container {
  width: 960px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
} */

.logo {
  height: 100px;
  width: 100px;
  margin-top: 15px;
}

.nav- {
  display: inline-block;
  font-size: 18px;

  margin-left: 24px;
  margin-top: 50px;
  opacity: 0.7;
  transition: all 1s;
}
.nav-:hover {
  opacity: 1;
  color: white;
}
.nav-item li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
a:hover {
  color: orange;
}
nav {
  display: flex;
  justify-content: space-between;
}
.food-delivery {
  margin: 85px 0;
}
.title {
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin: 40px;
}
.line {
  display: block;
  height: 2.5px;
  width: 85px;
  background-color: #e68025;
  margin: 40px auto;
  text-align: center;
}
.desc {
  display: inline-block;
  line-height: 1.5;
  margin: auto;
  font-size: 19px;
  color: #575c61;
  transition: all 1s;
}
.desc:hover {
  color: black;
}
.topics {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.topic-icon {
  margin: 35px;
  color: #e68025;
}
h3 {
  margin: 20px;
}
.para {
  line-height: 1.5;
  color: #333;
  text-align: center;
}
.topics div {
  margin-left: 30px;
  width: 250px;
  transition: all 1s;
}
.topics div:hover {
  background-color: #f5f4f4;
  border-radius: 20px;
  width: 250px;
}

.hero-header {
  position: absolute;
  top: 40vh;
}
h1 {
  font-size: 3rem;
  color: white;
  font-weight: lighter;
  text-transform: uppercase;
  margin-bottom: 60px;
  text-align: left;
}
.btn {
  padding: 15px 20px;
  margin-right: 20px;
  color: orange;
  text-decoration: none;
  border: 1px solid orange;
  border-radius: 20px;
  font-size: 1rem;
  transition: all 1s;
}
.btn:hover {
  background-color: orange;
  color: white;
}
#meals .img {
  padding: 0;
  margin-bottom: -5px;
}
.working {
  background-color: #f4f4f4;
  height: 80vh;
  padding: 75px 0;
}

.main-div {
  margin-top: 40px;
}
.left {
  position: relative;
}
.iphone-img {
  position: absolute;
  width: 40%;
  right: 10%;
}

.download {
  text-align: center;
  margin-top: 20%;
}
.download img {
  height: 50px;
  margin-left: 30px;
}
.right {
  display: inline-block;
}
.number {
  border: 2px solid orange;
  border-radius: 50%;
  padding: 15px;
  margin-bottom: 20px;
  width: 25px;
  height: 25px;
  text-align: center;
}
.simple {
  margin-left: 20%;
  margin-top: -70px;
}
.div-line {
  margin-bottom: 30px;
  margin-top: 50px;
}
.city-img {
  width: 100%;
}

.city-info {
  display: flex;
}
.icon-city {
  margin-right: 20px;
  color: orange;
}
#city {
  height: 50vh;
}
.cities h3 {
  margin-left: -3px;
}
.overlay{
  overflow: hidden;

}
.overlay img{
  background-color: #000;
  width: 100%;
   transition: 1s;
  opacity: .8;
  transform: scale(1.1);
}

 
.overlay img:hover {
  opacity: 1;
  transform: scale(1);
}
.test .customer{
  border-radius: 50%;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  margin: 20px 0;
  
}
.test{
  background-image:linear-gradient(rgba(0,0,0,.7) , rgba(0,0,0,.7)) , url(../images/back-customers.jpg);
  background-repeat:repeat;
  background-size: cover;
  background-position: center; 
   
color: white;


}
.test h2{
  color: white;
  padding:  40px 0;
}

.testimonials p{
  line-height: 1.5;
  padding: 20px 0;
  text-align: center;
}
.check{
  display: flex;
}
.check  i{
  color: orange;
  font-size: 15px;
  text-align: center;
 padding-right: 20px;

  
}
#sign h3{
  text-transform: uppercase;
  margin: 0;

}
#sign{
  background-color: #f4f4f4;
  padding: 40px;
}
.priecing-plan{

  background-color: #fff;
  line-height: 1.5;
  padding: 20px;
  margin: 20px;
  width: 30%;
}

.priecing-plan p{
  font-size: 50px;
  font-weight:2px;
  color: orange;
  
}
.priecing-plan p span{
  font-size: 20px;
}
.per-meal{
  padding-bottom: 20px;
  text-transform:lowercase
}
.details{
  background-color: #ffffff;
  padding: 20px;
}
.sign-btn{
  text-align: center;
  width: 33.3%;
  padding:10px 25px;
  background-color:#ffffff;
  color: orange;
  border: 1px solid orange;
  border-radius: 20px;
  display: inline-block;
  margin: 20px 80px;
  transition: 1s;
  text-decoration: none;

}
.sign-btn:hover{
  background-color: orange;
  color: white;
  border: 1px solid orange;
}
hr{
  margin-bottom: 20px;
  margin-top: 20px;
  opacity: .5;
}
.right-form{
  position: relative;

}
.name-input,.email-input,.selections,.check-box,.textarea{
  display:flex;
 justify-content: center;
  margin-bottom: 20px;
}
option{
  width: 100%;
  position: absolute;
padding: 0 100px;}
label{
  margin-right: 20px;
  text-align: left;
  position: absolute;
  left: 50px;
}
checkbox{
  margin-top: 20px;
}


